In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def runsql(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# One to many relationshipÂ¶

In [2]:
#    Report the account representative for each customer.
runsql("""
    SELECT 
        a.customerName, b.*
    FROM
        customers a
        INNER JOIN employees b
            ON a.salesRepEmployeeNumber = b.employeeNumber
""")

,customerName,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,Mini Gifts Distributors Ltd.,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
1,Mini Wheels Co.,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
2,Technics Stores Inc.,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
3,Corporate Gift Ideas Co.,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
4,The Sharp Gifts Warehouse,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
5,Signal Collectibles Ltd.,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
6,Signal Gift Stores,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
7,Toys4GrownUps.com,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,Boards & Toys Co.,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
9,Collectable Mini Designs Co.,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
10,"Men 'R' US Retailers, Ltd.",1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
11,West Coast Collectables Co.,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
12,Cambridge Collectables Co.,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
13,Online Mini Collectables,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
14,Mini Creations Ltd.,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
15,"Classic Gift Ideas, Inc",1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
16,Collectables For Less Inc.,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
17,Diecast Collectables,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
18,Diecast Classics Inc.,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
19,Auto-Moto Classics Inc.,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
20,Marta's Replicas Co.,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
21,Gifts4AllAges.com,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
22,Online Diecast Creations Co.,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
23,FunGiftIdeas.com,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
24,Muscle Machine Inc,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
25,American Souvenirs Inc,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
26,Vitachrome Inc.,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
27,QuÃ©bec Home Shopping Network,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
28,Classic Legends Inc.,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
29,Super Scale Inc.,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
...,...,...,...,...,...,...,...,...,...
70,Baane Mini Imports,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
71,"Blauer See Auto, Co.",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
72,"Volvo Model Replicas, Co",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
73,Herkku Gifts,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
74,"Clover Collections, Co.",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
75,"Toms SpezialitÃ¤ten, Ltd",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
76,"Norway Gifts By Mail, Co.",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
77,"Bavarian Collectables Imports, Co.",1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
78,Scandinavian Gift Ideas,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
79,"Australian Collectors, Co.",1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
80,"Anna's Decorations, Ltd",1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
81,Souveniers And Things Co.,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
82,"Australian Gift Network, Co",1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
83,"Australian Collectables, Ltd",1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
84,Handji Gifts& Co,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
85,"Down Under Souveniers, Inc",1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
86,GiftsForHim.com,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
87,"Extreme Desk Decorations, Ltd",1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
88,Kelly's Gift Shop,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
89,"Dragon Souveniers, Ltd.",1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
90,Osaka Souveniers Co.,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
91,"King Kong Collectables, Co.",1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
92,Cruz & Sons Co.,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
93,"Tokyo Collectables, Ltd",1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
94,Enaco Distributors,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep
95,"Vida Sport, Ltd",1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep
96,CAF Imports,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep
97,Precious Collectables,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep
98,"Corrida Auto Replicas, Ltd",1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep
99,"Iberia Gift Imports, Corp.",1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

In [3]:
#    Report total payments for Atelier graphique.
runsql ("""
    SELECT 
        SUM(amount)
    FROM
        customers 
        INNER JOIN payments 
            USING (customerNumber)
    WHERE
        customerName = 'Atelier graphique'
""")

   SUM(amount)
0     22314.36

In [4]:
#    Report the total payments by date
runsql ("""
    SELECT 
        paymentDate, SUM(amount)
    FROM
        payments
    GROUP BY
        paymentDate
""")

    paymentDate  SUM(amount)
0    2003-01-16     10223.83
1    2003-01-28     10549.01
2    2003-01-30      5494.78
3    2003-02-16     50218.95
4    2003-02-20     53959.21
5    2003-02-25     40206.20
6    2003-03-02     52151.81
7    2003-03-09     51001.22
8    2003-03-12     22292.62
9    2003-03-20     25833.14
10   2003-03-27     48425.69
11   2003-04-09     24212.79
12   2003-04-11     11044.30
13   2003-04-16     21665.98
14   2003-04-19      1627.56
15   2003-04-20     33383.14
16   2003-04-22     44380.15
17   2003-05-09      3101.40
18   2003-05-12     35826.33
19   2003-05-20     45864.03
20   2003-05-21     16700.47
21   2003-05-25     50824.66
22   2003-05-31      7565.08
23   2003-06-05     14571.44
24   2003-06-06     32641.98
25   2003-06-13     57131.92
26   2003-06-18     58841.35
27   2003-06-25     17032.29
28   2003-07-05      2880.00
29   2003-07-06      6036.96
..          ...          ...
202  2005-02-02     12692.19
203  2005-02-03     14379.90
204  2005-02-06     39580.60
205  2005-02-09     27083.78
206  2005-02-12     28322.83
207  2005-02-14     33967.73
208  2005-02-15     46770.52
209  2005-02-22     49523.67
210  2005-03-01     21432.31
211  2005-03-02      3452.75
212  2005-03-05    101244.59
213  2005-03-10     23602.90
214  2005-03-15     46781.66
215  2005-03-18    120166.58
216  2005-03-25     65071.26
217  2005-03-27      3516.04
218  2005-04-15     30293.77
219  2005-04-16     83598.04
220  2005-04-18     27966.54
221  2005-04-23     12190.85
222  2005-04-30     29848.52
223  2005-05-03     43964.87
224  2005-05-17     17928.09
225  2005-05-18       615.45
226  2005-05-19     75396.26
227  2005-05-20     29070.38
228  2005-05-23     75020.13
229  2005-05-25     30253.75
230  2005-06-03     12432.32
231  2005-06-09     46656.94

[232 rows x 2 columns]

In [5]:
#    Report the products that have not been sold.
runsql ("""
    SELECT 
        a.*
    FROM
        products a
        LEFT JOIN orderdetails b
            USING (productCode)
    WHERE
        orderNumber IS NULL
""")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57

In [6]:
#    List the amount paid by each customer.
runsql ("""
    SELECT 
        customerName, SUM(amount)
    FROM
        customers
        LEFT JOIN payments
            USING (customerNumber)
    GROUP BY
        customerNumber
""")

                           customerName  SUM(amount)
0                     Atelier graphique     22314.36
1                    Signal Gift Stores     80180.98
2            Australian Collectors, Co.    180585.07
3                     La Rochelle Gifts    116949.68
4                    Baane Mini Imports    104224.79
5          Mini Gifts Distributors Ltd.    584188.24
6                    Havel & Zbyszek Co          NaN
7                  Blauer See Auto, Co.     75937.76
8                       Mini Wheels Co.     66710.56
9                     Land of Toys Inc.    107639.94
10               Euro+ Shopping Channel    715738.98
11             Volvo Model Replicas, Co     43680.65
12             Danish Wholesale Imports    107446.50
13               Saveley & Henriot, Co.    130305.35
14              Dragon Souveniers, Ltd.    156251.03
15                   Muscle Machine Inc    177913.95
16                Diecast Classics Inc.     98509.25
17                 Technics Stores Inc.    104545.22
18                     Handji Gifts& Co    105420.57
19                         Herkku Gifts     97562.47
20               American Souvenirs Inc          NaN
21                    Porto Imports Co.          NaN
22             Daedalus Designs Imports     61781.70
23            La Corne D'abondance, Co.     86553.52
24           Cambridge Collectables Co.     32198.69
25                      Gift Depot Inc.     95424.63
26                 Osaka Souveniers Co.     62361.22
27                      Vitachrome Inc.     72497.64
28                 Toys of Finland, Co.     95546.46
29                       AV Stores, Co.    148410.09
..                                  ...          ...
92                  L'ordine Souveniers     90143.31
93              Tokyo Collectables, Ltd    105548.73
94                    Auto Canal+ Petit     86436.97
95       Stuttgart Collectable Exchange          NaN
96        Extreme Desk Decorations, Ltd     66704.94
97   Bavarian Collectables Imports, Co.     31310.09
98                 Classic Legends Inc.     69214.33
99             Feuer Online Stores, Inc          NaN
100                    Gift Ideas Corp.     49967.78
101             Scandinavian Gift Ideas     76776.44
102           The Sharp Gifts Warehouse     59551.38
103                     Mini Auto Werke     51059.99
104                    Super Scale Inc.     70378.65
105                     Microscale Inc.     29230.43
106          Corrida Auto Replicas, Ltd    112440.09
107                    Warburg Exchange          NaN
108                    FunGiftIdeas.com     88627.49
109                 Anton Designs, Ltd.          NaN
110        Australian Collectables, Ltd     44920.76
111                  Frau da Collezione     25358.32
112         West Coast Collectables Co.     43748.72
113                 Mit VergnÃ¼gen & Co.          NaN
114           Kremlin Collectables, Co.          NaN
115                  Raanan Stores, Inc          NaN
116          Iberia Gift Imports, Corp.     50987.85
117        Motor Mint Distributors Inc.     77726.59
118            Signal Collectibles Ltd.     42570.37
119      Double Decker Gift Stores, Ltd     29586.15
120                Diecast Collectables     65541.74
121                   Kelly's Gift Shop    114497.19

[122 rows x 2 columns]

In [7]:
#    How many orders have been placed by Herkku Gifts?
runsql ("""
    SELECT 
        customerName, COUNT(*)
    FROM
        customers
        INNER JOIN orders
            USING (customerNumber)
    WHERE
        customerName = 'Herkku Gifts'
    GROUP BY
        customerNumber
""")

   customerName  COUNT(*)
0  Herkku Gifts         3

In [8]:
#    Who are the employees in Boston?
runsql ("""
    SELECT 
        a.*
    FROM
        employees a
        INNER JOIN offices
            USING (officeCode)

    WHERE
        city = 'Boston'
""")

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep

In [9]:
#    Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.
runsql ("""
    SELECT 
        customerName, SUM(amount) AS totalPayment
    FROM 
        customers
        INNER JOIN payments
            USING (customerNumber)
    GROUP BY
        customerNumber
    ORDER BY
        totalPayment DESC
""")

                          customerName  totalPayment
0               Euro+ Shopping Channel     715738.98
1         Mini Gifts Distributors Ltd.     584188.24
2           Australian Collectors, Co.     180585.07
3                   Muscle Machine Inc     177913.95
4              Dragon Souveniers, Ltd.     156251.03
5           Down Under Souveniers, Inc     154622.08
6                       AV Stores, Co.     148410.09
7              Anna's Decorations, Ltd     137034.22
8             Corporate Gift Ideas Co.     132340.78
9               Saveley & Henriot, Co.     130305.35
10                       Rovelli Gifts     127529.69
11                  Reims Collectables     126983.19
12                   La Rochelle Gifts     116949.68
13        Online Diecast Creations Co.     116449.29
14                   Kelly's Gift Shop     114497.19
15          Corrida Auto Replicas, Ltd     112440.09
16                     Vida Sport, Ltd     108777.92
17                   Land of Toys Inc.     107639.94
18            Danish Wholesale Imports     107446.50
19             Tokyo Collectables, Ltd     105548.73
20                    Handji Gifts& Co     105420.57
21                Technics Stores Inc.     104545.22
22                  Baane Mini Imports     104224.79
23                 Suominen Souveniers     103896.74
24                 Mini Creations Ltd.     101872.52
25               Diecast Classics Inc.      98509.25
26                        Herkku Gifts      97562.47
27             Oulu Toy Supplies, Inc.      95706.15
28                Toys of Finland, Co.      95546.46
29                     Gift Depot Inc.      95424.63
..                                 ...           ...
68               UK Collectables, Ltd.      61167.18
69                        Alpha Cognac      60483.36
70           The Sharp Gifts Warehouse      59551.38
71                Auto AssociÃ©s & Cie.      58876.41
72             Classic Gift Ideas, Inc      57939.34
73                     GiftsForHim.com      56662.38
74            Online Mini Collectables      55577.26
75         Australian Gift Network, Co      55190.16
76                     Mini Auto Werke      51059.99
77          Iberia Gift Imports, Corp.      50987.85
78                    Gift Ideas Corp.      49967.78
79             Clover Collections, Co.      49898.27
80                         CAF Imports      46751.14
81         King Kong Collectables, Co.      45480.79
82        Australian Collectables, Ltd      44920.76
83         West Coast Collectables Co.      43748.72
84            Volvo Model Replicas, Co      43680.65
85            Signal Collectibles Ltd.      42570.37
86          Men 'R' US Retailers, Ltd.      41506.19
87             Tekni Collectables Inc.      38281.51
88                   Gifts4AllAges.com      33533.47
89          Cambridge Collectables Co.      32198.69
90  Bavarian Collectables Imports, Co.      31310.09
91      Double Decker Gift Stores, Ltd      29586.15
92                     Microscale Inc.      29230.43
93                        Royale Belge      29217.18
94                  Frau da Collezione      25358.32
95                   Atelier graphique      22314.36
96             Auto-Moto Classics Inc.      21554.26
97                   Boards & Toys Co.       7918.60

[98 rows x 2 columns]

In [10]:
#List the value of 'On Hold' orders.
runsql ("""
    SELECT 
        orderNumber, STATUS, (quantityOrdered * priceEach) AS VALUE
    FROM 
        orders
        INNER JOIN orderdetails
            USING (orderNumber)
    WHERE
        STATUS = 'On Hold'
    GROUP BY
        orderNumber
""")

   orderNumber   STATUS    VALUE
0        10334  On Hold  3380.26
1        10401  On Hold  3157.98
2        10407  On Hold  6754.32
3        10414  On Hold  5597.76

In [11]:
#Report the number of orders 'On Hold' for each customer.
runsql ("""
    SELECT 
        customerNumber, customerName, status, COUNT(*)
    FROM 
        orders
        INNER JOIN customers
            USING (customerNUmber)
    WHERE
        STATUS = 'On Hold'
    GROUP BY
        customerNumber
""")

   customerNumber               customerName   status  COUNT(*)
0             144   Volvo Model Replicas, Co  On Hold         1
1             328    Tekni Collectables Inc.  On Hold         1
2             362          Gifts4AllAges.com  On Hold         1
3             450  The Sharp Gifts Warehouse  On Hold         1

# Many to many relationshipÂ¶

In [12]:
#   List products sold by order date.
runsql ("""
    SELECT 
        orders.orderDate, products.*
    FROM 
        orders
        INNER JOIN orderdetails
            USING (orderNumber)
        INNER JOIN products
            USING (productCode)
""")

,orderDate,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,2003-02-24,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,2003-05-07,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
2,2003-07-01,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
3,2003-08-25,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
4,2003-10-10,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
5,2003-10-28,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
6,2003-11-11,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
7,2003-11-18,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
8,2003-12-01,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
9,2004-01-15,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
10,2004-02-20,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
11,2004-04-05,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
12,2004-05-18,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
13,2004-06-28,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
14,2004-07-23,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
15,2004-08-27,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
16,2004-09-30,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
17,2004-10-15,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
18,2004-11-02,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
19,2004-11-15,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
20,2004-11-24,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
21,2004-12-04,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
22,2004-12-17,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
23,2005-02-03,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
24,2005-03-03,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
25,2005-04-01,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
26,2005-04-08,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
27,2005-05-13,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
28,2003-01-29,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
29,2003-03-24,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
...,...,...,...,...,...,...,...,...,...,...
2966,2005-03-30,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
2967,2005-04-01,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
2968,2005-05-09,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
2969,2003-02-11,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2970,2003-04-16,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2971,2003-06-12,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2972,2003-08-08,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2973,2003-09-28,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2974,2003-10-23,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2975,2003-11-07,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2976,2003-11-14,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2977,2003-11-26,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2978,2004-01-02,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2979,2004-02-19,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2980,2004-03-20,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2981,2004-05-07,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2982,2004-06-17,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2983,2004-07-21,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2984,2004-08-20,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2985,2004-09-09,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2986,2004-10-14,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2987,2004-10-29,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2988,2004-11-10,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2989,2004-11-21,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2990,2004-12-02,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2991,2004-12-16,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2992,2005-01-31,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2993,2005-03-01,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2994,2005-03-28,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
2995,2005-05-06,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

In [13]:
#   List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
runsql ("""
    SELECT 
        orders.orderDate
    FROM 
        orders
        INNER JOIN orderdetails
            USING (orderNumber)
        INNER JOIN products
            USING (productCode)
    WHERE
        productName = '1940 Ford Pickup Truck'
    GROUP BY
        orderDate
    ORDER BY
        orders.orderDate DESC
""")

     orderDate
0   2005-05-31
1   2005-05-01
2   2005-03-09
3   2005-02-17
4   2005-01-20
5   2004-12-10
6   2004-11-29
7   2004-11-18
8   2004-11-04
9   2004-10-21
10  2004-10-11
11  2004-09-08
12  2004-08-17
13  2004-07-19
14  2004-06-15
15  2004-05-04
16  2004-03-10
17  2004-01-29
18  2003-12-05
19  2003-11-25
20  2003-11-13
21  2003-11-06
22  2003-10-21
23  2003-09-19
24  2003-07-24
25  2003-05-28
26  2003-03-26
27  2003-01-29

In [14]:
#    List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
runsql ("""
    SELECT 
        `customerName`, `orderNumber`, (quantityOrdered * priceEach) AS orderValue
    FROM 
        customers
        INNER JOIN orders
            USING (customerNumber)
        INNER JOIN orderdetails
            USING (ordernumber)
    HAVING
        orderValue > 25000
""")

Empty DataFrame
Columns: [customerName, orderNumber, orderValue]
Index: []

In [15]:
#    Are there any products that appear on all orders?
runsql ("""
    SELECT 
        productName, COUNT(*) AS productOrderedQty
    FROM 
        orderdetails
        INNER JOIN products
            USING (productCode)
    GROUP BY 
        productCode
    HAVING
        productOrderedQty = (SELECT COUNT(*) FROM orders)
""")

Empty DataFrame
Columns: [productName, productOrderedQty]
Index: []

In [16]:
#    List the names of products sold at less than 80% of the MSRP.

runsql("""
    SELECT 
        productName
    FROM 
        products
        INNER JOIN orderdetails
            USING (productCode)
    WHERE
        priceEach < MSRP*0.8
    GROUP BY
        productName
""")

                                    productName
0                         18th century schooner
1                            1911 Ford Town Car
2                  1930 Buick Marquette Phaeton
3           1932 Alfa Romeo 8C2300 Spider Sport
4              1936 Mercedes Benz 500k Roadster
5                          1937 Lincoln Berline
6                   1939 Chevrolet Deluxe Coupe
7                              1940s Ford truck
8        1950's Chicago Surface Lines Streetcar
9                             1952 Citroen-15CV
10                      1956 Porsche 356A Coupe
11               1962 City of Detroit Streetcar
12                     1962 Volkswagen Microbus
13                        1965 Aston Martin DB5
14                    1971 Alpine Renault 1600s
15                        1976 Ford Gran Torino
16                  1980s Black Hawk Helicopter
17                  1992 Ferrari 360 Spider red
18                              1993 Mazda RX-7
19                        1996 Moto Guzzi 1100i
20  1996 Peterbilt 379 Stake Bed with Outrigger
21                             1997 BMW F650 ST
22                  American Airlines: B767-300
23                    American Airlines: MD-11S
24                     Collectable Wooden Train
25                     Corsair F4U ( Bird Cage)
26                               P-51-D Mustang
27                    The USS Constitution Ship

In [17]:
#    Reports those products that have been sold with a markup of 100% or more (i.e., the priceEach is at least twice the buyPrice)
runsql ("""
    SELECT 
        productName, buyPrice, priceEach
    FROM 
        products
        INNER JOIN orderdetails
            USING (productCode)
    WHERE
        priceEach >= buyPrice*2
""")

                              productName  buyPrice  priceEach
0                1952 Alpine Renault 1300     98.58     214.30
1                1952 Alpine Renault 1300     98.58     197.16
2                1952 Alpine Renault 1300     98.58     205.73
3                1952 Alpine Renault 1300     98.58     212.16
4                1952 Alpine Renault 1300     98.58     207.87
5                1952 Alpine Renault 1300     98.58     203.59
6                1952 Alpine Renault 1300     98.58     203.59
7                1952 Alpine Renault 1300     98.58     205.73
8                1952 Alpine Renault 1300     98.58     214.30
9                1952 Alpine Renault 1300     98.58     205.73
10               1952 Alpine Renault 1300     98.58     210.01
11               1952 Alpine Renault 1300     98.58     201.44
12               1952 Alpine Renault 1300     98.58     214.30
13               1952 Alpine Renault 1300     98.58     199.30
14               1952 Alpine Renault 1300     98.58     205.73
15               1952 Alpine Renault 1300     98.58     201.44
16   2003 Harley-Davidson Eagle Drag Bike     91.02     187.85
17   2003 Harley-Davidson Eagle Drag Bike     91.02     182.04
18   2003 Harley-Davidson Eagle Drag Bike     91.02     191.72
19   2003 Harley-Davidson Eagle Drag Bike     91.02     189.79
20   2003 Harley-Davidson Eagle Drag Bike     91.02     189.79
21   2003 Harley-Davidson Eagle Drag Bike     91.02     193.66
22   2003 Harley-Davidson Eagle Drag Bike     91.02     187.85
23   2003 Harley-Davidson Eagle Drag Bike     91.02     189.79
24   2003 Harley-Davidson Eagle Drag Bike     91.02     182.04
25                      1968 Ford Mustang     95.34     190.68
26                      1968 Ford Mustang     95.34     192.62
27                      2001 Ferrari Enzo     95.59     205.72
28                      2001 Ferrari Enzo     95.59     195.33
29                      2001 Ferrari Enzo     95.59     193.25
..                                    ...       ...        ...
470                            HMS Bounty     39.83      83.28
471                            HMS Bounty     39.83      85.99
472                            HMS Bounty     39.83      83.28
473                            HMS Bounty     39.83      89.61
474                            HMS Bounty     39.83      81.47
475                            HMS Bounty     39.83      86.90
476                            HMS Bounty     39.83      85.99
477                            HMS Bounty     39.83      85.09
478                            HMS Bounty     39.83      82.37
479             The USS Constitution Ship     33.97      72.28
480             The USS Constitution Ship     33.97      69.39
481             The USS Constitution Ship     33.97      69.39
482             The USS Constitution Ship     33.97      67.94
483             The USS Constitution Ship     33.97      69.39
484             The USS Constitution Ship     33.97      68.67
485             The USS Constitution Ship     33.97      71.56
486             The USS Constitution Ship     33.97      68.67
487             The USS Constitution Ship     33.97      70.11
488             The USS Constitution Ship     33.97      69.39
489                       1982 Camaro Z28     46.53      94.07
490                       1982 Camaro Z28     46.53      97.10
491                       1982 Camaro Z28     46.53     101.15
492                       1982 Camaro Z28     46.53      95.08
493                       1982 Camaro Z28     46.53     101.15
494                       1982 Camaro Z28     46.53      96.09
495                       1982 Camaro Z28     46.53      94.07
496                       1982 Camaro Z28     46.53     100.14
497                       1982 Camaro Z28     46.53     101.15
498             American Airlines: MD-11S     36.27      74.03
499             American Airlines: MD-11S     36.27      73.29

[500 rows x 3 columns]

In [18]:
#    List the products ordered on a Monday.
runsql ("""
    SELECT 
        products.*
    FROM 
        orders
        INNER JOIN orderdetails
            USING (orderNumber)
        INNER JOIN products
            USING (productCode)
    WHERE
        DAYNAME(orderDate) = 'Monday'
    GROUP BY
        productCode
""")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
5,S10_4962,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
6,S12_1099,1968 Ford Mustang,Classic Cars,1:12,Autoart Studio Design,"Hood, doors and trunk all open to reveal highl...",68,95.34,194.57
7,S12_1108,2001 Ferrari Enzo,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,3619,95.59,207.80
8,S12_1666,1958 Setra Bus,Trucks and Buses,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67
9,S12_2823,2002 Suzuki XREO,Motorcycles,1:12,Unimax Art Galleries,"Official logos and insignias, saddle bags loca...",9997,66.27,150.62
10,S12_3148,1969 Corvair Monza,Classic Cars,1:18,Welly Diecast Productions,"1:18 scale die-cast about 10"" long doors open,...",6906,89.14,151.08
11,S12_3380,1968 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,1:12 scale model of a 1968 Dodge Charger. Hood...,9123,75.16,117.44
12,S12_3990,1970 Plymouth Hemi Cuda,Classic Cars,1:12,Studio M Art Models,Very detailed 1970 Plymouth Cuda model in 1:12...,5663,31.92,79.80
13,S12_4675,1969 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,Detailed model of the 1969 Dodge Charger. This...,7323,58.73,115.16
14,S18_1097,1940 Ford Pickup Truck,Trucks and Buses,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67
15,S18_1129,1993 Mazda RX-7,Classic Cars,1:18,Highway 66 Mini Classics,"This model features, opening hood, opening doo...",3975,83.51,141.54
16,S18_1342,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74
17,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
18,S18_1662,1980s Black Hawk Helicopter,Planes,1:18,Red Start Diecast,1:18 scale replica of actual Army's UH-60L BLA...,5330,77.27,157.69
19,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
20,S18_1889,1948 Porsche 356-A Roadster,Classic Cars,1:18,Gearbox Collectibles,This precision die-cast replica features openi...,8826,53.90,77.00
21,S18_1984,1995 Honda Civic,Classic Cars,1:18,Min Lin Diecast,"This model features, opening hood, opening doo...",9772,93.89,142.25
22,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
23,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
24,S18_2319,1964 Mercedes Tour Bus,Trucks and Buses,1:18,Unimax Art Galleries,Exact replica. 100+ parts. working steering sy...,8258,74.86,122.73
25,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13
26,S18_2432,1926 Ford Fire Engine,Trucks and Buses,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77
27,S18_2581,P-51-D Mustang,Planes,1:72,Gearbox Collectibles,Has retractable wheels and comes with a stand,992,49.00,84.48
28,S18_2625,1936 Harley Davidson El Knucklehead,Motorcycles,1:18,Welly Diecast Productions,Intricately detailed with chrome accents and t...,4357,24.23,60.57
29,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
...,...,...,...,...,...,...,...,...,...
69,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
70,S24_4048,1992 Porsche Cayenne Turbo Silver,Classic Cars,1:24,Exoto Designs,"This replica features opening doors, superb de...",6582,69.78,118.28
71,S24_4258,1936 Chrysler Airflow,Vintage Cars,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39
72,S24_4278,1900s Vintage Tri-Plane,Planes,1:24,Unimax Art Galleries,Hand crafted diecast-like metal Triplane is Re...,2756,36.23,72.45
73,S24_4620,1961 Chevrolet Impala,Classic Cars,1:18,Classic Metal Creations,This 1:18 scale precision die-cast reproductio...,7869,32.33,80.84
74,S32_1268,1980âs GM Manhattan Express,Trucks and Buses,1:32,Motor City Art Classics,This 1980âs era new look Manhattan express is ...,5099,53.93,96.31
75,S32_1374,1997 BMW F650 ST,Motorcycles,1:32,Exoto Designs,Features official die-struck logos and baked e...,178,66.92,99.89
76,S32_2206,1982 Ducati 996 R,Motorcycles,1:32,Gearbox Collectibles,"Features rotating wheels , working kick stand....",9241,24.14,40.23
77,S32_3207,1950's Chicago Surface Lines Streetcar,Trains,1:32,Gearbox Collectibles,This streetcar is a joy to see. It has 80 sepa...,8601,26.72,62.14
78,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
79,S32_4289,1928 Ford Phaeton Deluxe,Vintage Cars,1:32,Highway 66 Mini Classics,This model features grille-mounted chrome horn...,136,33.02,68.79
80,S32_4485,1974 Ducati 350 Mk3 Desmo,Motorcycles,1:32,Second Gear Diecast,This model features two-tone paint with chrome...,3341,56.13,102.05
81,S50_1341,1930 Buick Marquette Phaeton,Vintage Cars,1:50,Studio M Art Models,"Features opening trunk, working steering system",7062,27.06,43.64
82,S50_1392,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,1:50,Highway 66 Mini Classics,This limited edition model is licensed and per...,1016,68.29,115.75
83,S50_1514,1962 City of Detroit Streetcar,Trains,1:50,Classic Metal Creations,This streetcar is a joy to see. It has 99 sepa...,1645,37.49,58.58
84,S50_4713,2002 Yamaha YZR M1,Motorcycles,1:50,Autoart Studio Design,"Features rotating wheels , working kick stand....",600,34.17,81.36
85,S700_1138,The Schooner Bluenose,Ships,1:700,Autoart Studio Design,All wood with canvas sails. Measures 31 1/2 in...,1897,34.00,66.67
86,S700_1691,American Airlines: B767-300,Planes,1:700,Min Lin Diecast,Exact replia with official logos and insignias...,5841,51.15,91.34
87,S700_1938,The Mayflower,Ships,1:700,Studio M Art Models,Measures 31 1/2 inches Long x 25 1/2 inches Hi...,737,43.30,86.61
88,S700_2047,HMS Bounty,Ships,1:700,Unimax Art Galleries,Measures 30 inches Long x 27 1/2 inches High x...,3501,39.83,90.52
89,S700_2466,America West Airlines B757-200,Planes,1:700,Motor City Art Classics,Official logos and insignias. Working steering...,9653,68.80,99.72
90,S700_2610,The USS Constitution Ship,Ships,1:700,Red Start Diecast,"All wood with canvas sails. Measures 31 1/2"" L...",7083,33.97,72.28
91,S700_2824,1982 Camaro Z28,Classic Cars,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15
92,S700_2834,ATA: B757-300,Planes,1:700,Highway 66 Mini Classics,Exact replia with official logos and insignias...,7106,59.33,118.65
93,S700_3167,F/A 18 Hornet 1/72,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",551,54.40,80.00
94,S700_3505,The Titanic,Ships,1:700,Carousel DieCast Legends,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
95,S700_3962,The Queen Mary,Ships,1:700,Welly Diecast Productions,Exact replica. Wood and Metal. Many extras inc...,5088,53.63,99.31
96,S700_4002,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
97,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
98,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

In [19]:
#    What is the quantity on hand for products listed on 'On Hold' orders?

runsql ("""
    SELECT 
        productName, SUM(quantityOrdered)
    FROM 
        orders
        INNER JOIN orderdetails
            USING (orderNumber)
        INNER JOIN products
            USING (productCode)
    WHERE
        STATUS = 'On Hold'
    GROUP BY 
        productCode
""")

                            productName  SUM(quantityOrdered)
0                   1972 Alfa Romeo GTA                  49.0
1                1962 LanciaA Delta 16V                  26.0
2                 1965 Aston Martin DB5                  59.0
3              1917 Grand Touring Sedan                  76.0
4                    1911 Ford Town Car                  42.0
5                1964 Mercedes Tour Bus                  46.0
6                 1926 Ford Fire Engine                  34.0
7                        P-51-D Mustang                  42.0
8          1999 Indy 500 Monte Carlo SS                  41.0
9                1999 Yamaha Speed Boat                  44.0
10                    1903 Ford Model A                  41.0
11          1992 Ferrari 360 Spider red                  20.0
12             Collectable Wooden Train                  48.0
13  1932 Alfa Romeo 8C2300 Spider Sport                   6.0
14                  1904 Buick Runabout                  56.0
15                     1940s Ford truck                  49.0
16                1957 Ford Thunderbird                  66.0
17           1970 Chevy Chevelle SS 454                  26.0
18            1966 Shelby Cobra 427 S/C                  64.0
19     1928 British Royal Navy Airplane                  38.0
20                18th century schooner                  43.0
21             1962 Volkswagen Microbus                  42.0
22                   1949 Jaguar XK 120                  76.0
23                    1952 Citroen-15CV                  59.0
24     1912 Ford Model T Delivery Wagon                  60.0
25            1969 Chevrolet Camaro Z28                  13.0
26                  2002 Chevy Corvette                  43.0
27             1940 Ford Delivery Sedan                  51.0
28             Corsair F4U ( Bird Cage)                  64.0
29              1900s Vintage Tri-Plane                  52.0
30                     1997 BMW F650 ST                  49.0
31             1928 Ford Phaeton Deluxe                  62.0
32         1930 Buick Marquette Phaeton                  56.0
33                The Schooner Bluenose                  37.0
34          American Airlines: B767-300                  11.0
35                        The Mayflower                  34.0
36       America West Airlines B757-200                  85.0
37            The USS Constitution Ship                  31.0
38                        ATA: B757-300                  21.0
39                   F/A 18 Hornet 1/72                  77.0
40                          The Titanic                  28.0
41                       The Queen Mary                  40.0
42            American Airlines: MD-11S                  40.0
43                           Pont Yacht                  47.0